spring:
  application:
    name: PortfolioService

  profiles:
    active: local
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

server:
  port: 8082

  servlet:
    session:
      tracking-modes: cookie
      cookie:
        http-only: true
        secure: true

