
server:
  port: 8080

eureka:
  client:
    serviceUrl:
      # En mode docker hostname = nom du service (spring.application.name)
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka}
  instance:
    preferIpAddress: true


