server:
  port: 8080
  servlet:
    session:
      cookie:
        secure: false

spring:
  data:
    redis:
      host: ${REDIS_HOST:redis}
      port: ${REDIS_PORT:6379}
  session:

eureka:
  client:
    serviceUrl:
      # Dans docker, hostname = nom du service
      defaultZone: ${EUREKA_URI:http://eureka-server:8761/eureka}
  instance:
    preferIpAddress: true


